.reviews {
    text-align: left;
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
}

.reviewList {
    width:70%;
    display:flex;
    flex-direction:column;
    gap: 1.5rem;
}

